@font-face {
    font-family: Norse;
    src: url('Norse-Bold.otf');
}

body {
    margin: 0px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.left-section-container {
    background-image: url(starrynight.jpg);
    background-position: center;
    /* display: flex; */
    height: 100vh;
}

.odin-title {
    transform: translateY(20vh);
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

img {
    height: 8rem;
    width: auto;
}

h1 {
    font-size: 4rem;
    color: white;
    font-family: Norse;
}

#credits {
    position: relative;
    text-align: center;
    transform: translateY(36rem);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 48px;
    background-color:#F9FAFB;
}

.topsection {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    max-width: 80%;
}

.signupform {
    width: 100vh;
}

form {
    display: flex;
}

.left-form {
    margin-right: 64px;
}

label {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

input {
    margin-bottom: 16px;
    width: 200px;
    height: 20px;
    border-radius: 3px;
    border-style: solid;
    border-color: #EFF0F3;
}

#password:invalid {
    border: 2px solid red;
}
#confirm:invalid {
    border: 2px solid red;
}

#phonenumber:invalid {
    border: 2px solid red;
}

#createButton {
    border-radius: 5px;
    background-color: #755158;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 175px;
    border:none;
    cursor:pointer;
}

a {
    text-decoration: none;
    color: #755158;
}